* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Poppins", sans-serif;
  width: 550px;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

/* nav component */
nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--logo {
  max-width: 100px;
}

/* hero component */
section {
  padding: 20px;
}

.hero--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero--photo {
  max-width: 400px;
}

.hero--text-container {
  align-self: flex-start;
  margin-left: 17px;
}

.hero--header {
  margin-bottom: 16px;
  font-size: 36px;
}

.hero--text {
  margin-top: 0;
  width: 320px;
  font-size: 16px;
}

/* experiences container */
.experiences {
  display: flex;
  margin-left: 37px;
  overflow-x: auto;
}
/* experience card */
.card {
  width: 176px;
  font-size: 12px;
  margin: 9px;
  position: relative;
}

.card--image {
  width: 176px;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}
.card--stats > span {
  margin: auto 2px;
}
.card--stats > span:nth-child(3) {
  margin-left: 5px;
}

.card--star {
  height: 14px;
}

/* .card--badge {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(255, 255, 255, 0.789);
  color: orangered;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bolder;
} */
.card--soldout {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: rgba(255, 0, 0, 0.672);
  color: whitesmoke;
  padding: 3px 4px;
  border-radius: 6px;
  font-weight: bolder;
}

.card--online-event {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(255, 255, 255, 0.789);
  color: orangered;
  padding: 3px 4px;
  border-radius: 6px;
  font-weight: bolder;
}
